.container{
    display: flex;
    gap: 10px;
}
.box{
    background-color: rebeccapurple;
    border-radius: 10px;


}
@media screen and (max-width:576px) {
     .container{
        flex-direction: column;
        * display:block; 
     }
}