
.clander{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px 100px;
    
    
}
.date, .day{
    background-color: skyblue;
    height: 50px;
    display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
      border-radius: 10px;
}
