:root{
    --primary-color: red;
}


.container,.inner{
    width: 200px;
    height: 200px;
}
.container{
    border:  2px solid steelb;
    background-color:var(--primary-color);
}
.inner{
    border: 2px solid var(--primary-color);
    background-color: green;
    transform: scale(.5        );
    
}
